/*
* Class content of the body element
*/
.content {
    display: block;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.content a{
    color: blue;
}

/*
* Class of the form element
*/

form legend {
    text-align: center;
}

form fieldset {
    width: 40%;
    margin: 0 auto;
    border: 1px solid #CCC;
    border-radius: 1em;
    text-align: center;
}

form div {
    margin-top: 0.80em;
}

.inputLabel {
    display: inline-block;
    margin-left: 2em;
}

.inputBasic {
    font: 1em sans-serif;
    width: 50%;
    box-sizing: border-box;
    border: 1px solid #999;
}

.inputBasic:focus {
    border-color: #000;
}

.errorText {
    font: 0.80em sans-serif;
    color: red;
    display: block;
    margin-left: 40%;
}

.submitButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 0.25em 0.5em;
    border: 1px black solid;
    border-radius: 4px;
}

/*
* Class of the table of num and contact
*/

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

/*
* Class of the footer
*/
.footer {
    background-color: grey;
    color: white;
    margin-top: 2em;
    padding: 1em;
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
}

.footer p,
.footer h4 {
    margin-block-start: 0.33em;
    margin-block-end: 0.33em;
}